<div class="flex justify-center items-center h-screen">

    <div class="bg-base-300 rounded-lg shadow-lg p-6 flex justify-center items-center">
    
        <div class="rounded-full h-48 w-48 bg-white flex justify-center items-center">
        
            <svg xmlns="http://www.w3.org/2000/svg" class="h-20 w-20 text-green-600" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M7.293 11.293a1 1 0 0 1 1.414 0L11 13.586l4.293-4.293a1 1 0 1 1 1.414 1.414l-5 5a1 1 0 0 1-1.414 0l-5-5a1 1 0 0 1 0-1.414 1 1 0 0 1 1.414 0z" clip-rule="evenodd" />
            </svg>
        
        </div>
    
        <div class="text-center ml-4">
            <h1 class="text-2xl font-bold text-green-800">Success</h1>
            <p class="text-gray-600">The Amount has been Transferred.<br />Thank you</p>
    
            <div class="flex-none gap-2 mt-4">
                <a routerLink="/accounting/financial-transaction" class="btn btn-ghost" >Back to Portal</a>
            </div>
        </div>
    
    </div>

</div>


