<div class="bg-base-600 h-screen flex items-center justify-center">
    <div class="max-w-md w-full bg-white p-8 rounded-lg shadow-lg">
        <div class="text-center">
            <svg class="w-20 h-20 mx-auto text-green-500" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M5 13l4 4L19 7"></path>
            </svg>
            <h2 class="mt-2 text-xl font-semibold text-gray-900">Payment Successful</h2>
            <p class="mt-2 text-sm text-gray-600">Your payment has been successfully processed.</p>
        </div>
        <div class="mt-4 flex justify-center">
            <a routerLink="/portal/accounting/financial-transaction" class="inline-block bg-blue-500 text-white px-4 py-2 rounded-md text-sm font-semibold">Back to
                Portal</a>
        </div>
    </div>
</div>