

<div class="relative flex flex-col ">
    <!-- Your main content goes here -->
    
  
    <!-- Open the modal using ID.showModal() method -->
    <button (click)="showModal()" class="btn btn-outline mt-5 text-slate-900" >Add</button>
    <dialog #my_modal_1 class="modal">
      <div class="modal-box">
  
  
        <form [formGroup]="articleForm" (ngSubmit) = "createArticle()"  >
          <div class="form-group">
            <input type="text" name="article" formControlName="article"  required placeholder="Article" class="w-full px-3 py-2 border rounded-md border-gray-300 bg-gray-50 text-gray-800">
            <div>
              <small class="text-red-500">Enter Article</small>
            </div>
          </div>
        
          <div class="modal-action">
            <button type="submit" class="btn">Submit</button>
            <button (click)="modal1.nativeElement.close()" type="button" class="btn" >Close</button>
          </div>
        </form>
        
      </div>
    </dialog>
  
  
    <div class="overflow-x-auto">
      <table class="table">
        <!-- head -->
        <thead>
          <tr class="text-slate-900">
          
            <th>Category</th>
            
            
            <th></th>
            
          </tr>
        </thead>
        <tbody>
          <!-- row 1 -->
          <tr *ngFor="let articles of articleData"  class="text-slate-900">
           
            <td>
              <div class="flex items-center gap-3">
                <div>
                  
                  <div class="font-bold"></div>
                  {{ articles.article}}
                </div>
              </div>
            </td>
         
            <th>
             

  
            </th>
            <th>
              <button (click)="removeArticle(articles._id)" class="btn btn-outline btn-error btn-xs" >delete</button>
            </th>
           
          </tr>
         
          
        </tbody>
        <!-- foot -->
        <tfoot>
          <tr class="text-slate-900">

         
            <th>Category</th>
         
          
            <th></th>
          </tr>
        </tfoot>
        
      </table>
    </div>
  
   
  
  </div>
