<app-employee-nb></app-employee-nb> 
<app-employee-sb></app-employee-sb>


<main class="w-full sm:w-3/4 p-4 ml-0 sm:ml-80 ">


 

      <p class="mt-10 text-lg font-bold">Supplier Directory</p>

      <div class="divider"></div> 
    
      <!-- Open the modal using ID.showModal() method -->
      
      <label class="input input-bordered flex items-center gap-2 mt-5">
        <input type="text" class="grow" placeholder="Search" [(ngModel)]="searchQuery" (input)="filterEmployees()"   />
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4 opacity-70"><path fill-rule="evenodd" d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z" clip-rule="evenodd" /></svg>
      </label>
      
     
      <div class="overflow-x-auto">
        <table class="table">
          <!-- head -->
          <thead>
            <tr >
              <th>
                
              </th>
              <th>Supplier</th>
              <th>Email</th>
              <th>Contant</th>
              <th>Payment Method</th>
              
              <th></th>
              <th></th>
              
            </tr>
          </thead>
          <tbody *ngIf="supplierDetails.length > 0">
            <!-- row 1 -->
            <tr  *ngFor="let detail of filteredEmployees | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }; trackBy: trackBySupplier" >
              <th>
                
              </th>
              <td>
                <div class="flex items-center gap-3">
                  <div>
                {{detail.to}}
                  
                  </div>
                </div>
              </td>
              <td>
                {{detail.email}}
                <br/>
              </td>
              <td> {{detail.phone}}</td>
              <td> {{detail.payment}}</td>        
             
            </tr>
           
            
          </tbody>

          <tbody *ngIf="supplierDetails.length === 0">
            <tr>
              <td colspan="5" class="text-3xl text-center font-bold text-gray-600 h-20 ">
                No Data
              </td>
            </tr>
          </tbody>
          <!-- foot -->
          <tfoot>
            <tr>
              <th></th>
              <th>Supplier</th>
              <th>Email</th>
              <th>Contact</th>
              <th>Paymend Method</th>
             
              <th></th>
              <th></th>
            </tr>
          </tfoot>
          
        </table>
      </div>

      <pagination-controls  (pageChange)="currentPage = $event"></pagination-controls>
    
    </main>
