<div class="max-w-sm w-full bg-slate-800 rounded-lg shadow border border-slate-600 p-4 md:p-6">
    <div class="flex justify-between">
      <div>
        <h5 class="leading-none text-3xl text-center font-bold text-gray-300 dark:text-white pb-2">{{ calculateOrders(spoDetails) }}</h5>
        <p class="text-base font-normal text-gray-500 dark:text-gray-400">Orders this year</p>
      </div>
      <div>
        <h5 class="leading-none text-3xl font-bold text-center text-gray-300 dark:text-white pb-2">{{ calculateTotalOrders(spoDetails) }}</h5>
        <p class="text-base font-normal text-gray-500 dark:text-gray-400">Total Amount</p>
      </div>
    </div>
    <div class="mt-5">
    <canvas id="linechart" width="400" height="300"></canvas>
   </div>
    <div class="grid grid-cols-1 items-center border-slate-600 border-t dark:border-gray-700 justify-between">
      <div class="flex justify-between items-center pt-5">
        <button
          class="text-sm font-medium text-gray-500 dark:text-gray-400 hover:text-gray-900 text-center inline-flex items-center dark:hover:text-white"
          type="button">
          Last 12 months
        </button>
      </div>
    </div>
  </div>
  
