<app-employee-nb></app-employee-nb> 
<app-employee-sb></app-employee-sb>
<!-- 
<main class="w-full sm:w-3/4 p-4 ml-0 sm:ml-80 bg-base-300 rounded-lg shadow-lg mt-5">
    
  
    <div class="flex justify-between items-center border-b pb-4 mt-4 ">
        <div>
            <h1 class="text-xl font-bold">Financial Transaction</h1>
            <p class="text-gray-600">Date: March 15, 2024</p>
            <p> {{transDetail.transaction}} </p>
            
        </div>
        <div>
           
            <img src="assets/22.png" alt="Company Logo" class="w-20">
        </div>
    </div>

  
    <div class="mt-4">
        <h2 class="text-lg font-semibold">Supplier Payment:</h2>
        <ng-container *ngIf="transDetail"> 
            <p class="mt-2">Your Rfq: <span class="font-bold">{{ getSRFQ(transDetail) }}</span></p>
            <p>Supplier Ref no: <span class="font-bold">{{ getSupplierRFQ(transDetail) }}</span></p>
            <p>PO no: <span class="font-bold">{{ getPO(transDetail) }}</span></p>
            <p>Supplier Name: <span class="font-bold">{{ getSupplier(transDetail) }}</span></p>
            <p>Total Amount: <span class="font-bold">{{getCurrency(transDetail)}} {{ getAmount(transDetail) }}</span></p>
        </ng-container>
    </div>


    
    <div class="mt-8 border-t pt-4 ">
    
        <div class="mt-4">
            <h2 class="text-lg font-semibold">Payment Method:</h2>
            <label class="inline-flex items-center mt-2">
                <input type="radio" class="form-radio h-5 w-5 text-blue-600" name="paymentMethod" value="cash"  [(ngModel)]="selectedPaymentMethod">
                <span class="ml-2">Cash/CDC</span>
            </label>
            <label class="inline-flex items-center mt-2 ml-2">
                <input type="radio" class="form-radio h-5 w-5 text-blue-600" name="paymentMethod" value="online" [(ngModel)]="selectedPaymentMethod">
                <span class="ml-2">Online Payment</span>
            </label>
        </div>

        <div id="card-element"></div>
    
      
        <div class="mt-4">
            <button (click)="payNow()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                Pay Now
            </button>
        </div>
        <p class="text-gray-600 mt-2 ">Thank you for your business!</p>
    </div>
    
    <div id="payment-element"></div>
    

</main> -->



<!-- <div class="p-4 bg-slate-900 min-h-screen">
    <div class="p-4 mt-14 border border-white mt-24 relative">


        <div class="flex justify-between items-center border-b pb-4 mt-4 ">
            <div>
                <h1 class="text-2xl font-bold">Financial Transaction</h1>
                <p class="text-gray-600">Date: March 15, 2024</p>
                <p> {{transDetail.transaction}} </p>
                
            </div>
            <div>
               
                <img src="assets/22.png" alt="Company Logo" class="w-20">
            </div>
        </div>
    
      
        <div class="mt-4">
            <h2 class="text-lg font-semibold">Supplier Payment:</h2>
            <ng-container *ngIf="transDetail"> 
                <p class="mt-2">Your Rfq: <span class="font-bold">{{ getSRFQ(transDetail) }}</span></p>
                <p>Supplier Ref no: <span class="font-bold">{{ getSupplierRFQ(transDetail) }}</span></p>
                <p>PO no: <span class="font-bold">{{ getPO(transDetail) }}</span></p>
                <p>Supplier Name: <span class="font-bold">{{ getSupplier(transDetail) }}</span></p>
                <p>Total Amount: <span class="font-bold">{{getCurrency(transDetail)}} {{ getAmount(transDetail) }}</span></p>
            </ng-container>
        </div>
    
    
        
        <div class="mt-8 border-t pt-4 ">
        
            <div class="mt-4">
                <h2 class="text-lg font-semibold">Payment Method:</h2>
                <label class="inline-flex items-center mt-2">
                    <input type="radio" class="form-radio h-5 w-5 text-blue-600" name="paymentMethod" value="cash"  [(ngModel)]="selectedPaymentMethod">
                    <span class="ml-2">Cash/CDC</span>
                </label>
                <label class="inline-flex items-center mt-2 ml-2">
                    <input type="radio" class="form-radio h-5 w-5 text-blue-600" name="paymentMethod" value="online" [(ngModel)]="selectedPaymentMethod">
                    <span class="ml-2">Online Payment</span>
                </label>
            </div>
    
            <div id="card-element"></div>
        
          
            <div class="mt-4">
                <button (click)="payNow()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                    Pay Now
                </button>
            </div>
            <p class="text-gray-600 mt-2 ">Thank you for your business!</p>
        </div>
        
        <div id="payment-element"></div>


    </div>
</div> -->


<!-- New Transaction Page -->

<div class="p-4 bg-slate-900 min-h-screen">
    <div class="p-4 mt-14 relative ">
  
      <section class="bg-slate-900 py-8 antialiased md:py-16">
        <div class="mx-auto max-w-screen-xl px-4 2xl:px-0">
          <div class="mx-auto max-w-5xl">
            <h2 class="text-xl font-semibold text-white sm:text-2xl">Payment</h2>


            <div class="space-y-4 rounded-lg border border-slate-600 bg-slate-900 p-6 dark:border-gray-700 mt-2">
                <div class="space-y-2">
                  <dl class="flex items-center justify-between gap-4">
                    <dt class="text-base font-normal text-gray-400 ">Your Rfq:</dt>
                    <dd class="text-base font-medium text-white">{{ getSRFQ(transDetail) }}</dd>
                  </dl>
    
                  <dl class="flex items-center justify-between gap-4">
                    <dt class="text-base font-normal text-gray-400 dark:text-gray-400">Supplier Ref no:</dt>
                    <dd class="text-base font-medium text-white dark:text-white">{{ getSupplierRFQ(transDetail) }}</dd>
                  </dl>
    
                  <dl class="flex items-center justify-between gap-4">
                    <dt class="text-base font-normal text-gray-400 dark:text-gray-400">PO no:</dt>
                    <dd class="text-base font-medium text-white dark:text-white">{{ getPO(transDetail) }}</dd>
                  </dl>

                  <dl class="flex items-center justify-between gap-4">
                    <dt class="text-base font-normal text-gray-400 dark:text-gray-400">Supplier Name:</dt>
                    <dd class="text-base font-medium text-white dark:text-white">{{ getSupplier(transDetail) }}</dd>
                  </dl>

                </div>

              </div>

            <div class="mt-6 sm:mt-8 lg:flex lg:items-start lg:gap-12">
              <div class="w-full rounded-lg border border-slate-600 bg-slate-900 p-4 shadow-sm dark:border-gray-700 dark:bg-gray-800 sm:p-6 lg:max-w-xl lg:p-8">
                <div class="mb-6 grid grid-cols-2 gap-4">
                    <div class="mt-4">
                        <h2 class="text-lg font-semibold">Payment Method:</h2>
                        <label class="inline-flex items-center mt-2">
                            <input type="radio" class="form-radio h-5 w-5 text-blue-600" name="paymentMethod" value="cash"  [(ngModel)]="selectedPaymentMethod">
                            <span class="ml-2">Cash/CDC</span>
                        </label>
                        <label class="inline-flex items-center mt-2 ml-2">
                            <input type="radio" class="form-radio h-5 w-5 text-blue-600" name="paymentMethod" value="online" [(ngModel)]="selectedPaymentMethod">
                            <span class="ml-2">Online Payment</span>
                        </label>
                    </div>
                </div>
                <button (click)="payNow()" type="submit" class="flex w-full items-center justify-center border border-slate-600 hover:bg-slate-800 rounded-lg bg-slate-900 px-5 py-2.5 text-sm font-medium text-white hover:bg-primary-800 focus:outline-none focus:ring-4  focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Pay now</button>
            
            </div>
      
              <div class="mt-6 grow sm:mt-8 lg:mt-0">
                <div class="space-y-4 rounded-lg border border-slate-600 bg-slate-900 p-6 dark:border-gray-700 dark:bg-gray-800">
                  <div class="space-y-2">
                    <dl class="flex items-center justify-between gap-4">
                      <dt class="text-base font-normal text-gray-400 dark:text-gray-400">Original price</dt>
                      <dd class="text-base font-medium text-gray-400 dark:text-white">{{getCurrency(transDetail)}} {{ getAmount(transDetail) }}</dd>
                    </dl>
      
                    <dl class="flex items-center justify-between gap-4">
                      <dt class="text-base font-normal text-gray-400 dark:text-gray-400">Discount</dt>
                      <dd class="text-base font-medium text-gray-400">0.00</dd>
                    </dl>
      
                    <dl class="flex items-center justify-between gap-4">
                      <dt class="text-base font-normal text-gray-400 dark:text-gray-400">Tax/VAT</dt>
                      <dd class="text-base font-medium text-gray-400 dark:text-white">0.00</dd>
                    </dl>
                  </div>
      
                  <dl class="flex items-center justify-between gap-4 border-t border-gray-200 pt-2 dark:border-gray-700">
                    <dt class="text-base font-bold text-gray-400 dark:text-white">Total</dt>
                    <dd class="text-base font-bold text-gray-400 dark:text-white">{{getCurrency(transDetail)}} {{ getAmount(transDetail) }}</dd>
                  </dl>
                </div>
      
                <div class="mt-6 flex items-center justify-center gap-8">
                  <img class="h-8 w-auto dark:hidden" src="https://flowbite.s3.amazonaws.com/blocks/e-commerce/brand-logos/paypal.svg" alt="" />
                  <img class="hidden h-8 w-auto dark:flex" src="https://flowbite.s3.amazonaws.com/blocks/e-commerce/brand-logos/paypal-dark.svg" alt="" />
                  <img class="h-8 w-auto dark:hidden" src="https://flowbite.s3.amazonaws.com/blocks/e-commerce/brand-logos/visa.svg" alt="" />
                  <img class="hidden h-8 w-auto dark:flex" src="https://flowbite.s3.amazonaws.com/blocks/e-commerce/brand-logos/visa-dark.svg" alt="" />
                  <img class="h-8 w-auto dark:hidden" src="https://flowbite.s3.amazonaws.com/blocks/e-commerce/brand-logos/mastercard.svg" alt="" />
                  <img class="hidden h-8 w-auto dark:flex" src="https://flowbite.s3.amazonaws.com/blocks/e-commerce/brand-logos/mastercard-dark.svg" alt="" />
                </div>
              </div>
            </div>
           
            <div class="flex flex-col items-center">
            <p class="mt-6 text-center text-gray-500 dark:text-gray-400 sm:mt-8 lg:text-left">
              Payment processed by <a title="" class="font-medium text-primary-700 underline hover:no-underline dark:text-primary-500">INBI Technology Co</a>
            </p>
        </div> 
          </div>
        </div>
      </section>
      
      <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/datepicker.min.js"></script>
  
  
    
    </div>
  </div>