<div class="flex w-full h-screen bg-[#FCFCFC] ">
    <div class="grid h-screen w-full bg-[#FCFCFC]  place-items-center">
        <div class="flex justify-center items-center ">
            <img src="assets/055.jpg" alt="Logo">
        </div>
    </div>

    <div class="divider divider-horizontal bg-base-300" style="width: 5px;"></div>

    <div class="grid h-screen w-full  bg-[#FCFCFC]  place-items-center">
      <div class="flex flex-col max-w-xl p-6 rounded-md sm:p-10 bg-base-300 text-white-800">
          <div class="mb-8 text-center">
              <h1 class="my-3 text-4xl font-bold">Admin Portal</h1>
              <p class="text-sm text-white-600">Sign in to access your account</p>
          </div>
          <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" class="space-y-12">
              <div class="space-y-4">
                  <div>
                      <label for="email" class="block mb-2 text-sm">Email address</label>
                      <input type="email" formControlName="email" id="email" placeholder="leroy@jenkins.com"
                          class="w-full px-3 py-2 border rounded-md border-gray-300 bg-gray-50 text-gray-800">
                  </div>
                  <div>
                      <div class="flex justify-between mb-2">
                          <label for="password" class="text-sm">Password</label>
                          <a rel="noopener noreferrer" href="#" class="text-xs hover:underline text-white-600">Forgot
                              password?</a>
                      </div>
                      <input type="password" formControlName="password" id="password" placeholder="*****"
                          class="w-full px-3 py-2 border rounded-md border-gray-300 bg-gray-50 text-gray-800">
                  </div>
              </div>
              <div class="space-y-2">
                  <div>
                      <button type="submit"
                          class="w-full px-8 py-3 font-semibold rounded-md   bg-[#FCFCFC]  text-base-300">Sign in</button>
                  </div>
              </div>
          </form>
      </div>
  </div>
  
</div>
<app-footer [backgroundColorClass]="'bg-[#FCFCFC]'" [textColorClass]="'text-base-300'"></app-footer>