<app-employee-nb></app-employee-nb> 
<app-employee-sb></app-employee-sb>


<main class="w-full sm:w-3/4 p-4 ml-0 sm:ml-80 ">


    <p class="mt-5 text-lg font-bold">Create RFQ</p>

      <div class="divider"></div> 

      <label class="input input-bordered flex items-center gap-2 mt-5">
        <input type="text" class="grow" placeholder="Search" [(ngModel)]="searchQuery" (input)="filterEmployees()"   />
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4 opacity-70"><path fill-rule="evenodd" d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z" clip-rule="evenodd" /></svg>
      </label>

    
      <button class="btn btn-outline mt-5" (click)="createRFQ()">Create RFQ</button>
      
    
    
      <div class="overflow-x-auto">
        <table class="table">
          <!-- head -->
          <thead>
            <tr >
              <th>
                
              </th>
              <th>Your Ref no</th>
              <th>Responsible</th>
              <th>Created At</th>
              <th>Status</th>
              
              <th></th>
          
              
            </tr>
          </thead>
          <tbody *ngIf="rfqDetails.length > 0">
            <!-- row 1 -->
            <tr *ngFor="let detail of filteredEmployees | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }; trackBy: trackByQuotation">
              <th>
                
              </th>
              <td>
                <div class="flex items-center gap-3">
                  <div>
                 
                    <div class="font-bold">
                      
                     <button (click)="getQuotationDetail(detail._id)" > {{detail.srfq}}</button>
                    </div>
                    
                  </div>
                </div>
              </td>
              <td>
               {{ getResponsible(detail) }}
                <br/>
              </td>
              <td>{{detail.createdAt | date: 'dd-MM-yyyy' }}</td>
              <td>{{detail.status}}   </td>
           
    
              
             
             
            </tr>
           
            
          </tbody>

          <tbody *ngIf="rfqDetails.length === 0">
            <tr>
              <td colspan="5" class="text-3xl text-center font-bold text-gray-600 h-20">
                No Data
              </td>
            </tr>
          </tbody>
          <!-- foot -->
          <tfoot>
            <tr>
              <th></th>
              <th>Your Ref no</th>
              <th>Responsible</th>
              <th>Created At</th>
              <th>Status</th>
             
              <th></th>
             
            </tr>
          </tfoot>
          
        </table>
      </div>

      <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
    

 
</main>
