<app-employee-nb></app-employee-nb> 
<app-employee-sb></app-employee-sb>

    <div class="p-4 sm:ml-64 bg-slate-900 min-h-screen">
      <div class="p-4 mt-14 relative">


        <div class="flex justify-center">
          <div class="grid grid-cols-2 lg:grid-cols-4  gap-4 shadow p-4">
            <div class="stat border border-slate-600">
              <div class="stat-title">No of Quotation</div>
              <div class="stat-value">{{ spoDetails.length }}</div>
            </div>
            <div class="stat border border-slate-600 ">
              <div class="stat-title">No of Customers</div>
              <div class="stat-value">{{ calculateUniqueCustomers(spoDetails) }}</div>
            </div>
            <div class="stat border border-slate-600">
              <div class="stat-title">No of Orders</div>
              <div class="stat-value">{{ calculateOrders(spoDetails) }}</div>
            </div>
            <div class="stat border border-slate-600">
              <div class="stat-title">Total Orders</div>
              <div class="stat-value">{{ calculateTotalOrders(spoDetails) }}</div>
            </div>
          </div>
        </div>
  
  
        <div class="mt-5">
        <canvas id="linechart" width="400" height="170" ></canvas>
      </div>

      </div>

    </div>