<app-employee-nb></app-employee-nb> 
<app-employee-sb></app-employee-sb>

<main class="w-full sm:w-3/4 p-4 ml-0 sm:ml-80 ">


    <div class="flex justify-center ">
        <div class="stats stats-vertical lg:stats-horizontal shadow bg-base-300">
          <div class="stat">
            <div class="stat-title">No of Quotation</div>
            <div class="stat-value"> {{ spoDetails.length }}  </div>
          </div>
          <div class="stat">
            <div class="stat-title">No of Customers</div>
            <div class="stat-value"> {{ calculateUniqueCustomers(spoDetails) }}  </div>
          </div>
          <div class="stat">
            <div class="stat-title">No of Orders</div>
            <div class="stat-value">{{ calculateOrders(spoDetails) }}  </div>
          </div>
          <div class="stat">
            <div class="stat-title">Total Orders</div>
            <div class="stat-value">{{ calculateTotalOrders(spoDetails) }}   </div>
          </div>
        </div>
      </div>


      <div class="mt-5">
      <canvas id="linechart" width="400" height="170" ></canvas>

    </div>




      
 




    </main>
