<div class="navbar bg-black sticky top-0 w-full z-50">
    <div class="flex-1">
      <a class="text-xl" routerLink="/portal/dashboard">
        <img src="assets/22.png" alt="" class="h-14 w-auto"/>
      </a>
    </div>
  
    
    <div class="flex-none gap-2">
      <a routerLink="/portal/sales" class="btn btn-ghost" (click)="updateSidebar('Sales')">Sales</a>
      <a routerLink="/portal/purchase" class="btn btn-ghost" (click)="updateSidebar('Purchase')">Purchase</a>
      <a routerLink="/portal/warehouse" class="btn btn-ghost" (click)="updateSidebar('Warehouse')">Warehouse</a>
      <a routerLink="/portal/shipment" class="btn btn-ghost" (click)="updateSidebar('Shipment')">Shipment</a>
      <a routerLink="/portal/accounting" class="btn btn-ghost " (click)="updateSidebar('Accounting')">Accounting</a>
      <a routerLink="/portal/video-conference" class="btn btn-ghost ml-10" >Connect</a>
    </div>
  
    <div class="flex-none gap-2">
      <div class="dropdown dropdown-end">
        <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
          <div class="w-10 rounded-full">
            <img alt="Tailwind CSS Navbar component" [src]="employeeProfile ? getImageUrl(employeeProfile.image) : 'assets/dp.jpg'" />
          </div>
        </div>
        <ul tabindex="0" class="mt-3 z-[1] p-2 shadow menu menu-sm dropdown-content bg-base-100 rounded-box w-52">
          <li>
            <a class="justify-between" routerLink="/portal/profile">
              Profile
              <span class="badge">New</span>
            </a>
          </li>
          <li class=" text-[#FFFFFF]"> 
            <a rel="noopener noreferrer" (click)="logout()" class="flex items-center p-2 space-x-3 rounded-md  hover:bg-base-100" style="cursor: pointer; ">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-5 h-5 fill-current text-gray-600">
                    <path d="M440,424V88H352V13.005L88,58.522V424H16v32h86.9L352,490.358V120h56V456h88V424ZM320,453.642,120,426.056V85.478L320,51Z"></path>
                    <rect width="32" height="64" x="256" y="232"></rect>
                </svg>
                <span>Logout</span>
            </a>
        </li>
          
          
          
        </ul>
      </div>
    </div>
  </div>
  




 
