<div class="navbar bg-[#FCFCFC] sticky top-0 w-full z-50">
    <div class="flex-1">
      <a class="btn btn-ghost text-xl" routerLink="/admin/portal">
        <img src="assets/055.jpg" alt="" class="h-14 w-auto" />
      </a>
    </div>
  
    
  
    <div class="flex-none gap-2">
      <div class="dropdown dropdown-end">
        <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
          <div class="w-10 rounded-full">
            <img alt="Tailwind CSS Navbar component" src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
          </div>
        </div>
      
      </div>
    </div>
  </div>
  




