<app-employee-nb></app-employee-nb> 
<app-employee-sb></app-employee-sb>

<main class="w-full sm:w-3/4 p-4 ml-0 sm:ml-80 ">
  <!-- Your main content goes here -->

  <form action="/submit" method="post" class="max-w-full sm:max-w-2xl relative">
    <div class="relative">
        <input type="text" placeholder="Start a post ..." class="input input-bordered w-full" style="height: 100px;">
        <button class="btn btn-outline btn-sm absolute top-12 right-0 mt-2 sm:mt-0 sm:ml-2" type="submit">Submit</button>
    </div>
</form>

</main>


  
    
   