<app-employee-nb></app-employee-nb> 

<div class="flex flex-col items-center bg-base-300 justify-center min-h-screen">
  <!-- <main class="sm:w-3/4 p-4"> -->
    <main class="sm:w-3/4 p-4">
  <form (submit)="onSubmit()" #messageForm="ngForm" class="max-w-full max-w-xl relative">
    <div class="relative ">
        <input type="text" name="message" id="message" [(ngModel)]="message"  placeholder="Start a post ..." class="input input-bordered w-full" style="height: 100px;">
        <button class="btn btn-outline btn-sm absolute top-12 right-0 mt-2 sm:mt-0 sm:ml-2" type="submit" [disabled]="!message.trim()">Submit</button>
    </div>
</form>

<div *ngFor="let message of messages$ | async; trackBy: trackByDashboard" class="flex flex-col md:max-w-xl border border-white p-6 space-y-6 overflow-hidden rounded-lg shadow-md bg-base-100 text-white-800 relative mt-4  ">
  
	<div class="flex space-x-4">
		<img alt=""  [src]="getImageUrl(getImage(message.employee_id))" class="object-cover w-12 h-12 rounded-full shadow bg-gray-500">
		<div class="flex flex-col space-y-1">
      
			<a rel="noopener noreferrer" class="text-sm font-semibold">{{ getEmployee(message.employee_id) }} <span class="text-xs text-gray-600 ml-1"> {{message.date | date: 'dd-MM-yyyy'}} </span> </a>
      <span class="text-xs text-gray-600">{{getPosition(message.employee_id)}}</span>
		</div>
    
	</div>
	<div>
		<h2 class="mb-1 text-sm ">{{ message.message }}</h2>
	
	</div>
  
  <button class="absolute top-0 right-0 mt-2 mr-2 p-1 text-gray-500 hover:text-red-500 focus:outline-none"  (click)="confirmDelete(message)" >

    <ng-container *ngIf="canDeleteMessage(message)">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </ng-container>

  </button>

</div>

<div class="fixed bottom-4 right-4">
  <a routerLink="/portal/messenger" class="btn btn-ghost" ><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8">
    <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 8.511c.884.284 1.5 1.128 1.5 2.097v4.286c0 1.136-.847 2.1-1.98 2.193-.34.027-.68.052-1.02.072v3.091l-3-3c-1.354 0-2.694-.055-4.02-.163a2.115 2.115 0 0 1-.825-.242m9.345-8.334a2.126 2.126 0 0 0-.476-.095 48.64 48.64 0 0 0-8.048 0c-1.131.094-1.976 1.057-1.976 2.192v4.286c0 .837.46 1.58 1.155 1.951m9.345-8.334V6.637c0-1.621-1.152-3.026-2.76-3.235A48.455 48.455 0 0 0 11.25 3c-2.115 0-4.198.137-6.24.402-1.608.209-2.76 1.614-2.76 3.235v6.226c0 1.621 1.152 3.026 2.76 3.235.577.075 1.157.14 1.74.194V21l4.155-4.155" />
  </svg>
  </a>
</div>

</main>

  
</div>
  
    
   