<app-employee-nb></app-employee-nb>       
   
 <div class="flex-col flex bg-slate-900 min-h-screen">
  <div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-3 gap-1 mt-28">

    <!-- Left Grid - Sticky -->
    <div class="flex flex-col items-center">
      <a class="block border border-slate-600 p-6 bg-slate-800 rounded-lg shadow">
        <figure>
          <img [src]="getImageUrl(employeeProfile.image)" alt="Shoes" class="rounded-full w-16 h-16 mx-auto" onclick="my_modal_3.showModal()" style="cursor: pointer;" />
        </figure>
        <div class="card-body items-center text-center">
          <h2 class="card-title text-gray-100 text-xl">{{ employeeProfile.fname }} {{ employeeProfile.lname }}</h2>
          <p class="text-sm">{{ employeeProfile.position }}</p>
          <p class="text-sm">{{ employeeProfile.email }}</p>
        </div>
      </a>

      <div class="mt-2 md:w-[300px]">
        <app-chat></app-chat>
      </div>
    </div>

  
    <div class="flex flex-col">
      <form (submit)="onSubmit()" #messageForm="ngForm">
        <div class="max-w-xl mb-4 border border-slate-700 rounded-lg bg-gray-50 dark:bg-gray-700">
          <div class="px-4 py-2 bg-white rounded-t-lg dark:bg-gray-800">
            <label for="comment" class="sr-only">Your comment</label>
            <input type="text" name="message" id="message" [(ngModel)]="message" placeholder="Start a post ..." rows="4"
              class="w-full px-0 text-sm text-gray-900 bg-white border-0 dark:bg-gray-800 focus:ring-0 dark:text-white dark:placeholder-gray-400"
              required>
          </div>
          <div class="flex items-center bg-slate-800 rounded-md justify-between px-3 py-2">
            <button type="submit"
              class="inline-flex items-center py-2.5 px-4 text-xs font-medium text-center text-white bg-slate-900 border border-slate-700 rounded-lg focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-900 hover:bg-slate-800"
              [disabled]="!message.trim()">Post comment</button>
          </div>
        </div>
      </form>
    
      <div class="divider"></div>
    
      <!-- Use async pipe to resolve the observable and track the array of messages -->
      <ng-container *ngIf="messages$ | async as messages">
        <div *ngFor="let message of messages.slice(0, showMore ? messages.length : 3); trackBy: trackByDashboard"
          class="block max-w-xl p-6 bg-slate-800 border border-slate-700 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 relative mt-4">
          <div class="flex space-x-4">
            <img alt="" [src]="getImageUrl(getImage(message.employee_id))" class="object-cover w-12 h-12 rounded-full shadow bg-gray-500">
            <div class="flex flex-col space-y-1">
              <a rel="noopener noreferrer" class="text-sm font-semibold">{{ getEmployee(message.employee_id) }}
                <span class="text-xs text-gray-600 ml-1">{{message.date | date: 'dd-MM-yyyy'}}</span>
              </a>
              <span class="text-xs text-gray-500">{{getPosition(message.employee_id)}}</span>
            </div>
          </div>
          <div class="mt-5">
            <h2 class="mb-1 text-sm">{{ message.message }}</h2>
          </div>
    
          <button class="absolute top-0 right-0 mt-2 mr-2 p-1 text-gray-500 hover:text-red-500 focus:outline-none"
            (click)="confirmDelete(message)">
            <ng-container *ngIf="canDeleteMessage(message)">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </ng-container>
          </button>
        </div>
    
        <!-- Only show the "Read more" button if there are more than 3 messages -->
         
        <div *ngIf="messages.length > 3" class="flex justify-center mt-2">
          <button (click)="toggleShowMore()" class="text-sm text-slate-500  hover:underline">
            Read {{ showMore ? 'Less' : 'More' }}
          </button>
        </div>
       
      </ng-container>
    </div>
    

    <!-- Right Grid -->
    <div>
      <div class="flex flex-col items-center">
        <a class="block border border-slate-600 md:w-[350px] p-6 bg-slate-800 rounded-lg shadow ">
          <div class="container-fluid">
            <p class="text-xl">Trending News</p>
            <div class="divider"></div>
            <div class="row">
              <div *ngFor="let news of displayedArticles" class="col-lg-6 mt-2 mb-3">
                <div class="flex flex-row box">
                  <img [src]="news.urlToImage" alt="News Image" class="mt-3 w-14 h-14 rounded-md">
                  <p class="mt-2 mb-2 ml-2 text-sm text-justify">{{ news.title }}</p>
                </div>
                <div>
                  <a [href]="news.url" target="_blank" class="btn btn-dark btn-sm mt-2">Read more</a>
                </div>
              </div>
            </div>
          </div>
        </a>
        <div class="flex flex-col items-center mt-2">
          <span class="text-sm text-gray-500 text-center dark:text-gray-400">2025 © <a href="https://portfolio-shabeels-projects.vercel.app" class="hover:underline">sHabEel</a>. All Rights Reserved.</span>
        </div>
      </div>
    </div>

  </div>
</div>


