<app-employee-nb></app-employee-nb> 

<div class="p-4 bg-slate-900 min-h-screen">
    <div class="p-4 mt-20">

    <form (submit)="submitQuotation()">
        <div class="grid grid-cols-1 gap-1">
            <div>
    
                <!-- <div class="flex justify-end">
                    <button type="submit" class="btn btn-outline"  >
                        Submit
                    </button>

                    <button type="button" class="btn btn-outline ml-2" (click)="generatePDF()">
                        Print
                      </button>
                 
                </div> -->

    
                <div class="card lg:card-side bg-slate-900 border border-slate-600 shadow-xl mt-4">
                    <div class="card-body">
                        <div class="flex justify-end">
                        <p class="card-title">RFQ No: {{ rfqDetail?.srfq }} </p>

                        
                <div>
                    <button type="submit" class="btn btn-outline"  >
                        Submit
                    </button>

                    <button type="button" class="btn btn-outline ml-2" (click)="generatePDF()">
                        Print
                      </button>
                 
                </div>
                    </div>

                        <div>
                        <ul class="mt-2">
                            <li>
                                <input type="text" name="clientname" placeholder="To:" required [(ngModel)]="clientname" class="w-full px-3 py-2 border rounded-md border-gray-300 bg-gray-50 text-gray-800">
                            </li>
                            <li>
                                <input type="hidden" name="salesRFQ_id"  [value]="salesRFQ_id">
                            </li>
                            <li class="mt-2">
                                <input type="text" name="attention" placeholder="Kind Attention:" required [(ngModel)]="attention" class="w-full px-3 py-2 border rounded-md border-gray-300 bg-gray-50 text-gray-800">
                            </li>
                            <li class="mt-2">
                                <input type="text" name="email" placeholder="Email:" required [(ngModel)]="email" class="w-full px-3 py-2 border rounded-md border-gray-300 bg-gray-50 text-gray-800">
                            </li>
                            <li class="mt-2">
                                <input type="text" name="phone" placeholder="Phone no:" required [(ngModel)]="phone" class="w-full px-3 py-2 border rounded-md border-gray-300 bg-gray-50 text-gray-800">
                            </li>
                            <div class="divider "></div>
                            <li>
                                <input type="text" name="clientrfq" placeholder="Client Rfq No:" required [(ngModel)]="clientrfq" class="w-full px-3 py-2 border rounded-md border-gray-300 bg-gray-50 text-gray-800">
                            </li>

                            <li class="mt-2">
                                <input type="text" name="clientPo" placeholder="Client PO:" required [(ngModel)]="clientPo" class="w-full px-3 py-2 border rounded-md border-gray-300 bg-gray-50 text-gray-800">
                            </li>
                            <li class="mt-2">
                                <input type="text" name="date" placeholder="Date:" required [(ngModel)]="date" class="w-full px-3 py-2 border rounded-md border-gray-300 bg-gray-50 text-gray-800">
                            </li>
                        </ul>
                    </div>



                    </div>
                </div>




                <div class="mt-2">
    
                    
                    <div class="card lg:card-side bg-slate-900 border border-slate-600 shadow-xl">
                        <div class="card-body">
                            <div class="overflow-x-auto">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="text-center">Product Description</th>
                                            <th class="text-center">QTY</th>
                                            <th class="text-center">UOM</th>
                                            <th class="text-center">Unit Price</th>
                                            <th class="text-center">Uplift%</th>
                                            <th class="text-center">Uplifted Price</th>
                                            <th class="text-center">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of items; let i = index; trackBy: trackByAddQuotation">
                                            <td>
                                                <input type="text" [name]="'product_' + i" required [(ngModel)]="item.product" class="w-full px-3 py-2 border rounded-md border-gray-300 bg-gray-50 text-gray-800">
                                            </td>
                                            <td>
                                                <input type="number" [name]="'qty_' + i" required [(ngModel)]="item.qty" class="w-full px-3 py-2 border rounded-md border-gray-300 bg-gray-50 text-gray-800 text-center"  (input)="updateTotal(item)">
                                            </td>
                                            <td>
                                                <select [name]="'uom_' + i" required [(ngModel)]="item.uom" 
                                                        class="w-full px-3 py-2 border rounded-md border-gray-300 bg-gray-50 text-gray-800 text-center">
                                                    <option value="" disabled>Select UOM</option>
                                                    <option *ngFor="let unit of uomList" [value]="unit">{{ unit }}</option>
                                                </select>
                                            </td>
                                            <td>
                                                <input type="number"  [name]="'unit_' + i" required [(ngModel)]="item.unit" class="w-full px-3 py-2 border rounded-md border-gray-300 bg-gray-50 text-gray-800 text-center" (ngModelChange)="updateTotal(item)">
                                            </td>
                                            <td>
                                                <input type="number"  [name]="'uplift_' + i" required [(ngModel)]="item.uplift" class="w-full px-3 py-2 border rounded-md border-gray-300 bg-gray-50 text-gray-800 text-center" (input)="updateTotal(item)">
                                            </td>
                                            <td>
                                                <input type="number" [name]="'upliftedprice_' + i" required [(ngModel)]="item.upliftedprice" class="w-full px-3 py-2 border rounded-md border-gray-300 bg-gray-50 text-gray-800 text-center" readonly>
                                            </td>
                                            
                                            <td>
                                                <input type="number" [name]="'total_' + i" required [(ngModel)]="item.total" class="w-full px-3 py-2 border rounded-md border-gray-300 bg-gray-50 text-gray-800 text-right" readonly>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="6" class="text-right">Total:</td>
                                            <td>
                                                <input type="number" name="totalprice" [value]="calculateTotalprice().toFixed(2)" class="w-full px-3 py-2 border rounded-md border-gray-300 bg-gray-50 text-gray-800 text-right" readonly>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="6" class="text-right">Discount%:</td>
                                            <td>
                                                <input type="number" name="discount" [(ngModel)]="discount" class="w-full px-3 py-2 border rounded-md border-gray-300 bg-gray-50 text-gray-800 text-right">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="6" class="text-right">Total Amount:</td>
                                            <td>
                                                <input type="text" [value]="calculateTotal().toFixed(2)" class="w-full px-3 py-2 border rounded-md border-gray-300 bg-gray-50 text-gray-800 text-right" readonly>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <button type="button"  (click)="addItem()">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                             



                              

                </div>




                <div class="mt-2">
    
    
                    <div class="card lg:card-side bg-slate-900 border border-slate-600 shadow-xl">
                        <div class="card-body">
        
                            <input type="text" name="subject" required placeholder="Subject:" [(ngModel)]="subject" class="w-full px-3 py-2 border rounded-md border-gray-300 bg-gray-50 text-gray-800">
        
                            <div class="divider"></div>
        
                            <p>Terms and Conditions</p>
                            <ul>
                                <li>
                                    <select name="basis" required [(ngModel)]="basis" 
                                            class="w-full px-3 py-2 border rounded-md border-gray-300 bg-gray-50 text-gray-800 ">
                                        <option value="" disabled>Select Currency</option>
                                        <option *ngFor="let currency of currencyList" [value]="currency">{{ currency }}</option>
                                    </select>
                                </li>
                                <li class="mt-2">
                                    <input type="text" name="payment" required placeholder="Payment Terms:" [(ngModel)]="payment" class="w-full px-3 py-2 border rounded-md border-gray-300 bg-gray-50 text-gray-800">
                                </li>
                                <li class="mt-2">
                                    <input type="text" name="validity" required placeholder="Validity:" [(ngModel)]="validity" class="w-full px-3 py-2 border rounded-md border-gray-300 bg-gray-50 text-gray-800">
                                </li>
                                <li class="mt-2">
                                    <input type="text" name="availability" required placeholder="Availability:" [(ngModel)]="availability" class="w-full px-3 py-2 border rounded-md border-gray-300 bg-gray-50 text-gray-800">
                                </li>
                            </ul>
                        </div>
                    </div>
        
                </div>

            </div>
        </div>
    </form>
</div>
</div>
   
