<app-employee-nb></app-employee-nb> 


<main class="w-full h-screen flex flex-col ">

    <!-- component -->
<!-- This is an example component -->
<div class="container mx-auto shadow-lg rounded-lg mt-5   ">
    <!-- headaer -->
    

<!-- end header -->
<!-- Chatting -->
<div  class="flex flex-row justify-between bg-slate-600  rounded-lg  h-screen  ">
  <!-- chat list -->
  <div class="flex flex-col w-1/3 border-r-2 overflow-y-auto  ">
    <!-- search compt -->
    <div class="border-b-2 py-4 px-2 sticky top-0 bg-slate-600   z-10  h-20 mt-2 ">
 
 
    </div>
    <!-- end search compt -->
    <!-- user list -->
    <div *ngFor="let detail of employeeProfile; trackBy: trackByEmployee" 
      class="flex flex-row py-4 px-2 justify-center items-center border-b-2 cursor-pointer bg-slate-400 " (click)="openChat(detail)"
    >
      <div class="w-1/4 avatar" [ngClass]="getEmployeeProfileClass(detail)">
        <img
        [src]="getImageUrl(detail.image)"
          class="object-cover h-12 w-12 rounded-full"
          alt=""
        />
      </div>
      <div class="w-full">
        <div class="text-lg font-semibold text-gray-800">{{detail.fname}} {{detail.lname}}</div>
        <span class="text-gray-800">{{detail.position}}</span>
        
      </div>
    </div>

  
    <!-- end user list -->
  </div>
  <!-- end chat list -->
  <!-- message -->

  <div *ngIf="!selectedUser" class="w-full px-5 flex items-center justify-center bg-gray-700 rounded-lg">
    <p class="text-4xl text-gray-500">Your Chat starts here !</p>
</div>
  
  <div *ngIf="selectedUser" class="w-full px-5 flex flex-col justify-between bg-gray-700 rounded-lg">
    <div class="flex flex-col mt-5">
      <div class="" >
      <img
      [src]="getImageUrl(selectedUser.image)"
        class="object-cover h-12 w-12 rounded-full"
        alt=""
      />
      <div class="text-lg font-semibold  rounded-lg h-20">{{selectedUser.fname}} {{selectedUser.lname}}  </div>
    </div>
    
      <div class="overflow-auto mt-2  "  #chatContainer style="max-height: 300px;  ">
  
       
         <div *ngFor="let chatMessage of chatMessages; trackBy: trackByChat" class="flex mb-4 justify-{{ chatMessage.sender_id === sender_id ? 'end' : 'start' }}">
          <div *ngIf="chatMessage.sender_id === sender_id" >
            <time class="text-xs opacity-50">{{ chatMessage.createdAt | date: 'medium' }}</time>
    <div class="mr-2 py-3 px-4 bg-blue-400 rounded-bl-3xl rounded-tl-3xl rounded-tr-xl text-white ">
        <div>{{ chatMessage.message }}</div>
    </div>
    <div class="chat-footer opacity-50">
      {{ chatMessage.isRead }}
    </div>
  </div>
  <div *ngIf="chatMessage.sender_id !== sender_id">
    <time class="text-xs opacity-50">{{ chatMessage.createdAt | date: 'medium' }}</time>
    <div class="flex items-center">
        <img [src]="getImageUrl(selectedUser.image)" class="object-cover h-8 w-8 rounded-full" alt="" />
        <div class="ml-2 py-3 px-4 bg-gray-300 rounded-br-3xl rounded-tr-3xl rounded-tl-xl text-black ">
            <div>{{ chatMessage.message }}</div>
        </div>
    </div>
  </div>
</div>


      
  
    </div>
     
    </div>

    <div class="py-5 sticky bg-gray-700 bottom-0">
        <form (submit)="createChat(selectedUser._id)">
            <input class="w-full bg-gray-800 py-5 px-3 rounded-xl" type="text" name="message" required [(ngModel)]="message" id="message" placeholder="Type your message here..." />
            <input type="hidden" name="receiver_id" [value]="selectedUser._id">
            <button type="submit" class="mt-3 py-2 px-4 bg-blue-500 text-white rounded-lg shadow-md hover:bg-blue-600">Submit</button>
        </form>
    </div>
  </div>
  <!-- end message -->
 
  </div>
</div>


    
  </main>
  
