<app-employee-nb></app-employee-nb> 
<app-employee-sb></app-employee-sb>


<!-- <main class="w-full sm:w-3/4 p-4 ml-0 sm:ml-80 ">


    <p class="mt-5 text-lg font-bold">Inventory List</p>

      <div class="divider"></div> 


      <div class="overflow-x-auto">
        <table class="table">
       
          <thead>
            <tr>
              <th>
                
              </th>
              <th>Product</th>
              <th>Category</th>
              <th>Description</th>
              <th>UOM</th>
              <th>Price</th>
              <th>Availability</th>
              <th></th>
              <th></th>
              
            </tr>
          </thead>
          <tbody >
            
            <tr *ngFor="let product of product$ | async; let i = index; trackBy: trackByProductId">
              <th>
                {{ i + 1 }}
              </th>
              <td>
                <div class="flex items-center gap-3">
                  <div>
                    <div class="font-bold">{{ product.product }}</div>
                    
                  </div>
                </div>
              </td>
              <td>
              
                  
                {{ getCategory(product.category_id) }}
    
                <br/>
              </td>
              <td>{{ product.description }}</td>
              <td>{{ product.uom }}</td>
              <td>{{ product.price }}</td>
              <td>{{ product.availability }}</td>
              
             
             
            </tr>
           
            
          </tbody>
        
          <tfoot>
            <tr>
              <th></th>
              <th>Product</th>
              <th>Category</th>
              <th>Description</th>
              <th>UOM</th>
              <th>Price</th>
              <th>Availability</th>
              <th></th>
              <th></th>
            </tr>
          </tfoot>
          
        </table>
      </div>


      </main> -->

      <div class="p-4 bg-slate-900 min-h-screen">
        <div class="p-4 mt-14 relative">
      
          <p class="mt-10 text-2xl font-bold">Inventory List</p>
          <div class="divider"></div> 
      
    
      
      <div class="relative overflow-x-auto shadow-md border border-slate-600 sm:rounded-lg mt-5">
        <table class="w-full text-sm text-left rtl:text-right text-gray-200 ">
            <thead class="text-xs text-center text-gray-4 00 sm:rounded-lg uppercase bg-slate-900 border border-slate-600">
                <tr >
                    <th scope="col" class="px-6 py-3">
                        Sl No
                    </th>
                    <th scope="col" class="px-6 py-3">
                      Product
                    </th>
                    <th scope="col" class="px-6 py-3">
                      Category
                    </th>
                    <th scope="col" class="px-6 py-3">
                      Description
                    </th>
                    <th scope="col" class="px-6 py-3">
                      UOM
                    </th>
                    <th scope="col" class="px-6 py-3">
                      Price
                    </th>
                    <th scope="col" class="px-6 py-3">
                      Availability
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of product$ | async; let i = index; trackBy: trackByProductId"class="text-center odd:bg-slate-800 even:bg-slate-900 border-b border-slate-600">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-400 text-semibold whitespace-nowrap ">
                      {{ i + 1 }}
                    </th>
                    <td class="px-6 py-4 text-gray-400">
                      {{ product.product }}
                    </td>
                    <td class="px-6 py-4 text-gray-400">
                      {{ getCategory(product.category_id) }}
                    </td>
                    <td class="px-6 py-4 text-gray-400">
                      {{ product.description }}
                    </td>
                    <td class="px-6 py-4 text-gray-400">
                      {{ product.uom }}
                    </td>
                    <td class="px-6 py-4 text-gray-400">
                      {{ product.price }}
                    </td>
                    <td class="px-6 py-4 text-gray-400">
                      {{ product.availability }}
                    </td>
                </tr>
            </tbody>
          
        </table>
      </div>
      </div>
    
      </div>
