
<div class="relative flex flex-col ">
  <!-- Your main content goes here -->
  <div class="form-control">
    <input type="text" placeholder="Search" [(ngModel)]="searchTerm" class="input input-bordered w-24 md:w-auto"   />
  </div>

  <!-- Open the modal using ID.showModal() method -->
  <button class="btn btn-outline text-slate-900 mt-5" (click)="showModal()">Add</button>
  <dialog #my_modal_1 class="modal">
    <div class="modal-box">
      <form (ngSubmit)="onSubmit()" #userForm="ngForm">
        <div class="form-group">
          <input type="text" name="fname" [(ngModel)]="fname" required placeholder="First Name" class="w-full px-3 py-2 border rounded-md border-gray-300 bg-gray-50 text-gray-800">
          <div *ngIf="isWhitespaceOnly(fname) && userForm.controls['fname']?.dirty">
            <small class="text-red-500">Enter your First Name</small>
          </div>
        </div>
        <div class="form-group mt-5">
          <input type="text" name="lname" [(ngModel)]="lname" required placeholder="Last Name" class="w-full px-3 py-2 border rounded-md border-gray-300 bg-gray-50 text-gray-800">
          <div *ngIf="isWhitespaceOnly(lname) && userForm.controls['lname']?.dirty">
            <small class="text-red-500">Enter your Last Name</small>
          </div>
        </div>
          <div class="form-group mt-5">
            <input type="email" name="email" [(ngModel)]="email" required email placeholder="Email" class="w-full px-3 py-2 border rounded-md border-gray-300 bg-gray-50 text-gray-800">
            <div *ngIf="userForm.controls['email']?.invalid && (userForm.controls['email']?.dirty || userForm.controls['email']?.touched)">
              <small class="text-red-500">Enter a valid Email</small>
            </div>
            
          </div>
        <div class="form-group mt-5">
          <input type="password" name="password" [(ngModel)]="password" required minlength="6" placeholder="Password" class="w-full px-3 py-2 border rounded-md border-gray-300 bg-gray-50 text-gray-800">
          <div *ngIf="isWhitespaceOnly(password) && userForm.controls['password']?.invalid && (userForm.controls['password']?.dirty)">
            <small class="text-red-500">Enter a valid Password (at least 6 characters)</small>
          </div>
        </div>
        
        <div class="modal-action">
          <button type="submit" [disabled]="!userForm.form.valid || isWhitespaceOnly(fname) || isWhitespaceOnly(lname) || isWhitespaceOnly(password)" class="btn">Submit</button>
          <button type="button" class="btn" (click)="modal.nativeElement.close()">Close</button>
        </div>
      </form>
      
    </div>
  </dialog>
  


  <div class="overflow-x-auto">
    <table class="table">
      <!-- head -->
      <thead>
        <tr class="text-slate-900">
          <th>
            Sl No
          </th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th style="display: none;">Password</th>
          
          <th></th>
          <th></th>
          
        </tr>
      </thead>
      <tbody>
        <!-- row 1 -->
        <tr *ngFor="let admin of  getCurrentPageRecords() | async; let i = index; trackBy: trackByAdmin" class="text-slate-900">
          <th>
            {{ i + 1 }}
          </th>
          <td>
            <div class="flex items-center gap-3">
              <div>
             
                <div class="font-bold">{{ admin.fname }}</div>
                
              </div>
            </div>
          </td>
          <td class="font-bold">
            {{ admin.lname }}
            <br/>
          </td>
          <td>{{ admin.email }}</td>
          <td style="display: none;">{{ admin.password }}</td>
         
          <th>
            <!-- Open the modal using ID.showModal() method -->
            <button class="btn btn-outline btn-success btn-xs" (click)="editAdmins(admin)">Update</button>
            <dialog #my_modal_2  class="modal">
             <div class="modal-box">
               <form  #editForm="ngForm"  (submit)="editAdmin(adminToEdit)">
                <div class="form-group">
                  <input type="text" name="fname" [(ngModel)]="adminToEdit.fname" placeholder="First Name" class="w-full px-3 py-2 border rounded-md border-gray-300 bg-gray-50 text-gray-800">
                  <div *ngIf="isWhitespaceOnly(adminToEdit.fname) && editForm.controls['fname']?.dirty">
                    <small class="text-red-500">Please enter a valid first name.</small>
                  </div>
                </div>
                <div class="form-group mt-5">
                  <input type="text" name="lname" [(ngModel)]="adminToEdit.lname" placeholder="Last Name" class="w-full px-3 py-2 border rounded-md border-gray-300 bg-gray-50 text-gray-800">
                  <div *ngIf="isWhitespaceOnly(adminToEdit.lname) && editForm.controls['lname']?.dirty">
                    <small class="text-red-500">Please enter a valid last name.</small>
                  </div>
                </div>
                <div class="form-group mt-5">
                  <input type="email" name="email" [(ngModel)]="adminToEdit.email" placeholder="Email" class="w-full px-3 py-2 border rounded-md border-gray-300 bg-gray-50 text-gray-800">
                  <div *ngIf="isWhitespaceOnly(adminToEdit.email) && editForm.controls['email']?.dirty">
                    <small class="text-red-500">Please enter a valid email address.</small>
                  </div>
                </div>
                <div class="form-group mt-5">
                  <input type="password" name="password" [(ngModel)]="adminToEdit.password" placeholder="Password" class="w-full px-3 py-2 border rounded-md border-gray-300 bg-gray-50 text-gray-800">
                  <div *ngIf="isWhitespaceOnly(adminToEdit.password) && editForm.controls['password']?.dirty">
                    <small class="text-red-500">Please enter a valid password.</small>
                  </div>
                </div>
           
                 
                 <div class="modal-action">
                   <button type="submit" class="btn" [disabled]="[adminToEdit.fname, adminToEdit.lname, adminToEdit.email, adminToEdit.password].some(isWhitespaceOnly)">Update</button>
                   <button type="button" class="btn" (click)="modal2.nativeElement.close()">Close</button>
                 </div>
               </form>
               
             </div>
           </dialog>
<dialog id="my_modal_2" class="modal">
  <div class="modal-box">
    
    
    <div class="modal-action">
      <form method="dialog">
        

        
        <button class="btn">Close</button>
      </form>
    </div>
  </div>
</dialog>
          </th>

          
          <th>
            <button class="btn btn-outline btn-error btn-xs" (click)="confirmDelete(admin)">Delete</button>

          </th>
         
        </tr>
       
        
      </tbody>
      <!-- foot -->
      <tfoot>
        <tr class="text-slate-900">
          <th>Sl No</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th style="display: none;">Password</th>
         
          <th></th>
          <th></th>
        </tr>
      </tfoot>
      
    </table>
  </div>

  <div class="pagination mt-5">
    <button class="btn" (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
    <span class="ml-5 me-5 text-slate-900">Page {{ currentPage }}</span>
    <button class="btn" (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
  </div>

</div>