<app-admin-nb></app-admin-nb> 
<app-admin-sb></app-admin-sb>

<main class="w-full sm:w-3/4 p-4 ml-0 sm:ml-80 ">
  <!-- Your main content goes here -->
  <div class="form-control">
    <input type="text" placeholder="Search" [(ngModel)]="searchTerm" class="input input-bordered w-24 md:w-auto"   />
  </div>

  <!-- Open the modal using ID.showModal() method -->
  <button class="btn btn-outline mt-5" (click)="showModal()">Add</button>
  <dialog #my_modal_1 class="modal">
    <div class="modal-box">
      <form (submit)="onSubmit()">
        <div class="form-group">
          <input type="text" name="fname" [(ngModel)]="fname" placeholder="First Name" class="w-full px-3 py-2 border rounded-md border-gray-300 bg-gray-50 text-gray-800">
        </div>
        <div class="form-group mt-5">
          <input type="text" name="lname" [(ngModel)]="lname" placeholder="Last Name" class="w-full px-3 py-2 border rounded-md border-gray-300 bg-gray-50 text-gray-800">
        </div>
        <div class="form-group mt-5">
          <input type="email" name="email" [(ngModel)]="email" placeholder="Email" class="w-full px-3 py-2 border rounded-md border-gray-300 bg-gray-50 text-gray-800">
        </div>
        <div class="form-group mt-5">
          <input type="password" name="password" [(ngModel)]="password" placeholder="Password" class="w-full px-3 py-2 border rounded-md border-gray-300 bg-gray-50 text-gray-800">
        </div>
        
        <div class="modal-action">
          <button type="submit" class="btn">Submit</button>
          <button type="button" class="btn" (click)="modal.nativeElement.close()">Close</button>
        </div>
      </form>
    </div>
  </dialog>
  


  <div class="overflow-x-auto">
    <table class="table">
      <!-- head -->
      <thead>
        <tr >
          <th>
            
          </th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Password</th>
          
          <th></th>
          <th></th>
          
        </tr>
      </thead>
      <tbody>
        <!-- row 1 -->
        <tr *ngFor="let admin of filteredRecords | async; let i = index">
          <th>
            {{ i + 1 }}
          </th>
          <td>
            <div class="flex items-center gap-3">
              <div>
             
                <div class="font-bold">{{ admin.fname }}</div>
                
              </div>
            </div>
          </td>
          <td>
            {{ admin.lname }}
            <br/>
          </td>
          <td>{{ admin.email }}</td>
          <td>{{ admin.password }}</td>
         
          <th>
            <!-- Open the modal using ID.showModal() method -->
            <button class="btn btn-outline btn-success btn-xs" (click)="editAdmins(admin)">Update</button>
            <dialog #my_modal_2  class="modal">
             <div class="modal-box">
               <form  (submit)="editAdmin(adminToEdit)">
                <div class="form-group">
                  <input type="text" name="fname" [(ngModel)]="adminToEdit.fname" placeholder="First Name" class="w-full px-3 py-2 border rounded-md border-gray-300 bg-gray-50 text-gray-800">
                </div>
                <div class="form-group mt-5">
                  <input type="text" name="lname" [(ngModel)]="adminToEdit.lname" placeholder="Last Name" class="w-full px-3 py-2 border rounded-md border-gray-300 bg-gray-50 text-gray-800">
                </div>
                <div class="form-group mt-5">
                  <input type="email" name="email" [(ngModel)]="adminToEdit.email" placeholder="Email" class="w-full px-3 py-2 border rounded-md border-gray-300 bg-gray-50 text-gray-800">
                </div>
                <div class="form-group mt-5">
                  <input type="password" name="password" [(ngModel)]="adminToEdit.password" placeholder="Password" class="w-full px-3 py-2 border rounded-md border-gray-300 bg-gray-50 text-gray-800">
                </div>
           
                 
                 <div class="modal-action">
                   <button type="submit" class="btn">Update</button>
                   <button type="button" class="btn" (click)="modal2.nativeElement.close()">Close</button>
                 </div>
               </form>
               
             </div>
           </dialog>
<dialog id="my_modal_2" class="modal">
  <div class="modal-box">
    
    
    <div class="modal-action">
      <form method="dialog">
        

        
        <button class="btn">Close</button>
      </form>
    </div>
  </div>
</dialog>
          </th>

          
          <th>
            <button class="btn btn-outline btn-error btn-xs" (click)="deleteAdmin( admin )">Delete</button>

          </th>
         
        </tr>
       
        
      </tbody>
      <!-- foot -->
      <tfoot>
        <tr>
          <th></th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Password</th>
         
          <th></th>
          <th></th>
        </tr>
      </tfoot>
      
    </table>
  </div>

  <div class="join mt-5">
    <button class="join-item btn">1</button>
    <button class="join-item btn btn-active">2</button>
    <button class="join-item btn">3</button>
    <button class="join-item btn">4</button>
  </div>

</main>