<div class="flex justify-center items-center h-screen">
    <div class="card lg:card-side bg-base-100 shadow-xl border border-[#FCFCFC]">
        <figure><img src="assets/055.jpg" alt="Album"/></figure>
        <div class="card-body">
            <h2 class="card-title">Welcome to</h2>
            <p class="text-3xl font-bold">SCMS PORTAL</p>
            <form (ngSubmit)="resetPassword()" #resetForm="ngForm" >
                <div class="form-group mt-5">
                    <input type="password" name="password" [(ngModel)]="newPassword"  placeholder="Password" class="w-full px-3 py-2 border rounded-md border-gray-300 bg-gray-50 text-gray-800">
                </div>

                
                <button type="submit" class="btn mt-5">Submit</button>
            </form>
        </div>
    </div>
</div>
