<app-employee-nb></app-employee-nb> 
<app-employee-sb></app-employee-sb>


<main class="w-full sm:w-3/4 p-4 ml-0 sm:ml-80 ">

    <p class="mt-5 text-lg font-bold">Shipment History</p>

      <div class="divider"></div> 

  

    
      <!-- Open the modal using ID.showModal() method -->
      
      
    
    
      <div class="overflow-x-auto">
        <table class="table">
          <!-- head -->
          <thead>
            <tr >
              <th>
                
              </th>
              <th>Shipment ID</th>
              <th>Responsible</th>
              <th>Client Name</th>
              <th>Your Rfq no</th>
              <th>Invoice no</th>
              <th>Delivery no</th>
              <th>Status</th>
             
             
             
              
              <th></th>
          
              
            </tr>
          </thead>
          <tbody>
            <!-- row 1 -->
            <tr   *ngFor="let detail of shipmentDetails; trackBy: trackByShipment"  >
              <th>
                
              </th>
              <td>
                <div class="flex items-center gap-3">
                  <div>
                 
                    <div class="font-bold">
                      
                     <button  > {{detail.shipment}} </button>
                    </div>
                    
                  </div>
                </div>
              </td>
              <td>{{getResponsible(detail)}}</td>
              <td>
                {{ getClient(detail) }} 
                <br/>
              </td>
              <td>   {{ getRFQ(detail) }}   </td>
              <td> {{ getInvoice(detail) }}</td>
              <td>  {{ getDelivery(detail) }} </td>
              
          
             <td>{{detail.status}}</td>
             <td><button class="btn btn-outline btn-error btn-xs"  [disabled]="confirmedDelivery.has(detail._id)"  (click)="confirmDelivery(detail._id)" >Confirm</button></td>
            
              
            </tr>
           
            
          </tbody>
          <!-- foot -->
          <tfoot>
            <tr>
              <th></th>
              <th>Shipment ID</th>
              <th>Responsible</th>
              <th>Client Name</th>
              <th>Your Rfq no</th>
              <th>Invoice no</th>
              <th>Delivery no</th>
              <th>Status</th>
            
           
             
              
             
            </tr>
          </tfoot>
          
        </table>
      </div>





    </main>